* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgb(26, 3, 80);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gatos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 1.5rem;
}

.gato {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 0 10px;
    max-width: 300px;
    flex: 1 1 280px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;

}

.gato:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgb(102, 6, 255);
}


.gato img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
}


footer {   
    height: 10vh;
    background-color: rgb(53, 11, 99);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    
}

@media (max-width: 600px) {
    .gatos {
        flex-direction: column;
        align-items: center;
    }

    .gato {
        max-width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .gatos {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .gato {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media (min-width: 1100px) {
    .gatos {
        justify-content: space-around;
    }

    .gato {
        flex: 1 1 280px;
        max-width: 300px;
    }
}


