:root {
  --color-primario: #005f73;
  --color-secundario: #0a9396;
  --color-fondo: #e9d8a6;
  --color-claro: #ee9b00;
  --color-peligro: #9b2226;
  --color-texto: #333;
  --color-blanco: #ffffff;
}
