body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h2{
    margin-top: 50px;
}

.reixa {
    display: grid;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 40px;
}

.reixa div {
    background-color: rgb(59, 83, 83);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.ejemplo1 {
    /*Crear 3 columnas de 100 px cada una*/
    grid-template-columns: 100px 100px 100px;
}

.ejemplo2 {
    /*Tres columnas proporcionales*/
    grid-template-columns: 1fr 2fr 1fr;
}

.ejemplo3 {
    /*Dos columnas de igual tamaño*/
    grid-template-columns: 1fr 1fr;
    /*Definimos altura de filas*/
    grid-template-rows: 80px 150px;
}

.ejemplo4 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.ejemplo5 {
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 60px 200px 60px;
    grid-gap: 10px;
}

.ejemplo5 .item1 {
    grid-column: 1/4;
    grid-row: 1; /*Ocupa ambas columnas*/
}

.ejemplo5 .item2 {
    grid-column: 1/2;
    grid-row: 2;
}

.ejemplo5 .item3 {
    /*grid-column: 2;*/
}

.ejemplo5 .item4 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.ejemplo5 .item5 {
    grid-column: 1/3;
}