* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(174, 251, 255);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 50px;
}

.container1 {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container1 form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.filtros {
  display: flex;
  gap: 10px;
}

#listaEventos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#listaEventos li {
  border-radius: 8px;
  background-color: aliceblue;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.evento-info {
  width: auto;
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .container1 form {
    display: flex;
    flex-direction: column;
  }

  .filtros {
    flex-wrap: wrap;
  }
}
